[submodule "services/database"]
	path = services/database
	url = git@github.com:etchedheadplate/access-database.git
	branch = develop
[submodule "services/interface"]
	path = services/interface
	url = git@github.com:etchedheadplate/access-interface.git
	branch = develop
[submodule "services/validation"]
	path = services/validation
	url = git@github.com:etchedheadplate/access-validation.git
	branch = develop
