[submodule "services/executor"]
	path = services/executor
	url = git@github.com:etchedheadplate/access-executor.git
	branch = develop
[submodule "services/requester"]
path = services/requester
	url = git@github.com:etchedheadplate/access-requester.git
	branch = develop
[submodule "services/validator"]
path = services/validator
	url = git@github.com:etchedheadplate/access-validator.git
	branch = develop
